@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://video-images.vice.com/articles/589b938d47f11020ddd723a8/lede/1486594966397-pl.jpeg?crop=1xw:0.8426966292134831xh;center,center&resize=0:*);
    display: table;
    top: 0;
    background-size: cover;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1{
    font-family: 'Raleway', sans-serif;
    color: #f9f3f4;
    text-shadow: 0px 0px 300px #fff;
    font-size: 500%;
}
.btn{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: solid white 3px;
    font-family: 'Montserrat', sans-serif;

}
.btn:hover{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: white;
    background-color: rgb(170, 228, 135);
}
.container{
    background-color: #90C372;
}
.btn img{
   width: 40px;
   height: 40px;
}
p {
    font-size: 160%;
    line-height: 210%;
    text-align: justify;
    margin: 3%;
    font-family: sans-serif;
}
